<%= form_with(model: produto) do |form| %>
  <% if produto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produto.errors.count, "erro") %> não foi possível inserir mais doce:</h2>
      <ul>
        <% produto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quantidade, style: "display: block" do %>
      Quantidade para adicionar
    <% end %>
    <%= form.number_field :quantidade, value:0 %>
  </div>

  <div>
    <%= form.submit "Inserir mais #{produto.nome}"%>
  </div>
<% end %>
