<div id="<%= dom_id produto %>">
  <p>
    <strong>Nome:</strong>
    <%= produto.nome %>
  </p>

  <p>
    <strong>Quantidade em estoque:</strong>
    <%= produto.quantidade %>
  </p>

  <p>
    <strong>Preco/Unidade:</strong>
    <%= produto.preco %>
  </p>

  <p>
    <strong>Vendidos:</strong>
    <%= produto.vendidos %>
  </p>
</div>
